<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Prayer Times</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/jquery.timepicker.min.css">
    
</head>
<body>
    <div class="container mt-5">
        <div class="row" style="height: 50px; background-color: #04383F; margin-bottom: 10px; padding-left: 10px;">
            <a href="/" class="text-white" style="margin-top: 10px;"> Back </a>  
            <a href="/update-hadis" class="text-white" style="margin-top: 10px; margin-left: 20px;"> Hadis </a>  
        </div>

        
        <h1 class="text-center">Update Prayer Times</h1>
        <% if (message) { %>
            <div class="alert <%= message.type === 'success' ? 'alert-success' : 'alert-danger' %>">
                <%= message.text %>
            </div>
        <% } %>
        <form id="updateForm" action="/update" method="POST">
            <div class="mb-3">
                <label for="fajr" class="form-label">Fajr</label>
                <input type="text" required class="form-control timepicker" id="fajr" name="fajr" value="<%= prayerData.prayers.fajr %>">
                <div class="invalid-feedback">Please enter a valid time in HH:MM AM/PM format or (On Time)</div>
            </div>
            <div class="mb-3">
                <label for="fajr" class="form-label">Sunrise</label>
                <input type="text" required class="form-control timepicker" id="fajr" name="sunrise" value="<%= prayerData.prayers.sunrise %>">
                <div class="invalid-feedback">Please enter a valid time in HH:MM AM/PM format or (On Time)</div>
            </div>
            <div class="mb-3">
                <label for="dhuhr" class="form-label">Dhuhr</label>
                <input type="text" required class="form-control timepicker" id="dhuhr" name="dhuhr" value="<%= prayerData.prayers.dhuhr %>">
                <div class="invalid-feedback">Please enter a valid time in HH:MM AM/PM format or (On Time)</div>
            </div>
            <div class="mb-3">
                <label for="asr" class="form-label">Asr</label>
                <input type="text" required class="form-control timepicker" id="asr" name="asr" value="<%= prayerData.prayers.asr %>">
                <div class="invalid-feedback">Please enter a valid time in HH:MM AM/PM format or (On Time)</div>
            </div>
            <div class="mb-3">
                <label for="magrib" class="form-label">Magrib</label>
                <input type="text" required class="form-control timepicker" id="magrib" name="magrib" value="<%= prayerData.prayers.magrib %>">
                <div class="invalid-feedback">Please enter a valid time in HH:MM AM/PM format or (On Time)</div>
            </div>
            <div class="mb-3">
                <label for="isha" class="form-label">Isha</label>
                <input type="text" required class="form-control timepicker" id="isha" name="isha" value="<%= prayerData.prayers.isha %>">
                <div class="invalid-feedback">Please enter a valid time in HH:MM AM/PM format or (On Time)</div>
            </div>
            <div class="mb-3">
                <label for="jummah" class="form-label">Jummah</label>
                <input type="text" required class="form-control timepicker" id="jummah" name="jummah" value="<%= prayerData.prayers.jummah %>">
                <div class="invalid-feedback">Please enter a valid time in HH:MM AM/PM format or (On Time)</div>
            </div>
            <div class="mb-3">
                <label for="head_line" class="form-label">Notice Headline</label>
                <input type="text" class="form-control" id="head_line" name="head_line" value="<%= prayerData.notice.head_line %>">
            </div>
            <div class="mb-3">
                <label for="first_line" class="form-label">Notice First Line</label>
                <textarea type="text" class="form-control" id="first_line" name="first_line" ><%= prayerData.notice.first_line %></textarea>
            </div>
            <div class="mb-3">
                <label for="second_line" class="form-label">Notice Second Line</label>
                <textarea type="text" class="form-control" id="second_line" name="second_line"><%= prayerData.notice.second_line %></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
        </form>
    </div>

    <script src="/public/js/jquery3_5_1.min.js"></script>
    <script src="/public/js/timepicker.min.js"></script>
    <script>
    // Regular expression for validating time format
    //const timeRegex = /^(0[1-9]|1[0-2]):[0-5][0-9] (AM|PM)$/;
    const timeRegex = /^(?:\(On time\)|\(Moving forward\)|(?:0[1-9]|1[0-2]):[0-5][0-9] (AM|PM))$/;

    
    const updateBtn = document.querySelector('button[type="submit"]');
    // Attach keyup event listener to each time input
    document.querySelectorAll('.timepicker').forEach(field => {
        field.addEventListener('keyup', function () {
            const errorElement = this.nextElementSibling; // Get the .invalid-feedback element
            if (!timeRegex.test(this.value.trim())) {
                this.classList.add('is-invalid'); // Highlight invalid input
                errorElement.style.display = 'block'; // Show the error message
                updateBtn.disabled = true; // Disable the submit button
            } else {
                this.classList.remove('is-invalid'); // Remove invalid highlighting
                errorElement.style.display = 'none'; // Hide the error message
                updateBtn.disabled = false; // Enable the submit button
            }
        });
    });


    $('.timepicker').timepicker({
        timeFormat: 'h:mm p',
        interval: 1,
        minTime: '00',
        maxTime: '11:59pm',
        defaultTime: '',
        startTime: '00:00',
        dynamic: true,
        dropdown: true,
        scrollbar: true
    });
</script>
    </script>
</body>
</html>
