<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Prayer Times</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/jquery.timepicker.min.css">
    
</head>
<body>

    <div class="container mt-5">
        <div class="row" style="height: 50px; background-color: #04383F; margin-bottom: 10px; padding-left: 10px;">
            <a href="/" class="text-white" style="margin-top: 10px; float: left;"> Back </a>  
            <a href="/update-hadis" class="text-white" style="margin-top: 10px; margin-left: 20px; float:left"> Hadis </a>  
        </div>


        <h1 class="text-center">Update Hadis</h1>

        <% if (message) { %>
            <div class="alert <%= message.type === 'success' ? 'alert-success' : 'alert-danger' %>">
                <%= message.text %>
            </div>
        <% } %>

        <form action="/update-hadis" method="POST">
            <div class="mb-3">
                <label for="hadis1" class="form-label">Hadis 1</label>
                <textarea class="form-control" id="hadis1" name="hadis1" maxlength="200" required><%= prayerData.hadis.hadis1 %></textarea>
            </div>
            <div class="mb-3">
                <label for="hadis2" class="form-label">Hadis 2</label>
                <textarea class="form-control" id="hadis2" name="hadis2" maxlength="200" required><%= prayerData.hadis.hadis2 %></textarea>
            </div>
            <div class="mb-3">
                <label for="hadis3" class="form-label">Hadis 3</label>
                <textarea class="form-control" id="hadis3" name="hadis3" maxlength="200" required><%= prayerData.hadis.hadis3 %></textarea>
            </div>
            <div class="mb-3">
                <label for="hadis4" class="form-label">Hadis 4</label>
                <textarea class="form-control" id="hadis4" name="hadis4" maxlength="200" required><%= prayerData.hadis.hadis4 %></textarea>
            </div>
            <div class="mb-3">
                <label for="hadis5" class="form-label">Hadis 5</label>
                <textarea class="form-control" id="hadis5" name="hadis5" maxlength="200" required><%= prayerData.hadis.hadis5 %></textarea>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Update Hadis</button>
        </form>
    </div>

    <script src="/public/js/timepicker.min.js"></script>
</body>
</html>
